<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="clubId" content="151"/>
	<meta name="clubName" content="Coon Rapids"/>

	<title></title>
	<script src="../../../jspm_packages/github/es-shims/es5-shim@4.3.0/es5-shim.js"></script>
	<script src="../../../jspm_packages/github/es-shims/es6-shim@0.35.0/es6-shim.js"></script>
	<script src="../../../jspm_packages/system.js"></script>
	<script src="../../../config.js"></script>
	<script>
		System.baseURL = '../../../';
		var sharedComponents = System.normalizeSync('lt-shared-components');
		var sharedComponentsDir = sharedComponents.replace('.js', '');
		var sharedCSS = sharedComponentsDir + '/dist/css/shared-styles.css';
		var styleLink = document.createElement('link');
		styleLink.rel = 'stylesheet';
		styleLink.href = sharedCSS;
		document.head.appendChild(styleLink);
	</script>
	<link rel="stylesheet" href="/dist/clientlibs/css/account-components.min.css"/>
	<script>
		var lt = {
			api: {
				account: '/api/myaccount',
				commprefs: '/api/commprefs'
			},
			globalPageDrivers: {
				account: {},
				global: {}
			}
		};
		System.import('src/mocks/destinations').then(function(destinations){
			var pageDrivers = destinations.default;
			var keys = Object.keys(pageDrivers);
			for(var i = 0; i < keys.length; i++){
				var key = keys[i];
				var url = pageDrivers[key];
				
				if (key.indexOf('account.') === 0) {
					lt.globalPageDrivers.account[key.replace('account.','')] = url;
				} else if (key.indexOf('global.') === 0) {
					lt.globalPageDrivers.global[key.replace('global.','')] = url;
				}
			}

			console.log('Page drivers set:');
			console.log(lt);
		});
	</script>
</head>
<body>

<main class="main-mylt">
	<div class="lt-account">
		<div class="container-fluid lt-account hide-print">
			<div class="container">
				<div class="row">
					<header class="col-xs-12 account-title">
						<h1>ACCOUNT</h1>
					</header>
				</div>
			</div>
		</div>
		<div class="container-fluid background-gray">
			<div class="container" id="lt-account-details" ng-controller="MainController as ctrl">
				<div class="row">
					
					<div class="col-xs-12 p-b-2" ng-if="ctrl.isLoading()">
						<span class="loading-spinner"></span>
					</div>
					
					<sly data-sly-use.ltNamespace="com.lifetimefitness.lt.core.components.content.namespace.LtNamespace">
					<div class="col-xs-12 ng-cloak"
							ng-if="!ctrl.isLoading()"
						>
						<a name="personal_information"></a>
						<div class="card card-index card-account">
							<span class="ico-user hide-print"></span>
							<div class="card-header hide-print">
								<h2 class="h5 card-title">Personal Information</h2>
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-xs-12 col-md-5">
										<div class="row">
											<p class="card-text col-xs-12">
												Manage myLT account settings.
											</p>
									
											<p class="card-text col-xs-12 ng-cloak" ng-if="ctrl.user.$resolved">
												<b>Name:</b> <span ng-bind="::ctrl.user.name.first"></span> <span ng-bind="::ctrl.user.name.last"></span>
												<br/>
												<b>Username:</b> <span ng-bind="::ctrl.user.username"></span>
											</p>
										</div>
									</div>
									<br>
									<div class="col-xs-12 col-md-7">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-5">
												<ul class="card-list p-t-0">
													<li class="text-left">
														<a href="../edit-email/edit-email.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.editEmail}">
															Edit Email Address
														</a>
													</li>
													<li class="text-left">
														<a href="../edit-password/edit-password.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.editPassword}">
															Edit Password
														</a>
													</li>
													<li class="text-left">
														<a href="../manage-addresses/manage-addresses.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.manageAddresses}">
															Manage Addresses
														</a>
													</li>
												</ul>
											</div>
											<div class="col-xs-12 col-sm-6">
												<ul class="card-list">
													<li class="text-left">
														<a href="../manage-phone-numbers/manage-phone-numbers.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.managePhoneNumbers}">
															Manage Phone Numbers
														</a>
													</li>
													<li class="text-left" ng-if="!ctrl.isAuthenticated() || ctrl.isMember()">
														<a href="../emergency-contacts/emergency-contacts.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.emergencyContacts}">
															Emergency Contacts
														</a>
													</li>
													<li class="text-left">
														<a href="../security-question/security-question.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.securityQuestion}">
															Security Question
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 ng-cloak"
							ng-if="!ctrl.isLoading()"
						>
						<a name="membership"></a>
						<div class="card card-index card-account">
							<span class="ico-membership hide-print"></span>
							<div class="card-header hide-print">
								<h2 class="h5 card-title">Membership</h2>
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-xs-12 col-md-5">
										<p class="card-text">Manage Life Time membership.</p>
										<p class="card-text ng-cloak" ng-if="ctrl.isMember()">
											<b>Membership Level:</b> <span
											ng-bind="::ctrl.user.memberContext.membershipType.displayName"></span>
										</p>
									</div>
									<br>
									<div class="col-xs-12 col-md-7">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-5">
												<ul class="card-list p-t-0">
													<li class="text-left" ng-if="!ctrl.isAuthenticated() || ctrl.isMember()">
														<a href="../members-on-account/members-on-account.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.membersOnAccount}">
									                        Members on Account
									                    </a>
									                </li>
													<li class="text-left" ng-if="!ctrl.isAuthenticated() || ctrl.isMember()">
														<a href="../membership-information/membership-information.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.membershipInformation}">
									                        Membership Information
									                    </a>
									                </li>
													<li class="text-left">
														<a href="../agreement-history/agreement-history.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.agreementHistory}">
									                       Agreement History
									                    </a>
									                </li>
												</ul>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<ul class="card-list">
													<li class="text-left" ng-if="!ctrl.isAuthenticated() || ctrl.isMember()">
														<a href="https://www.lifetimefitness.com/en/mylt/myLT-bucks.html?redirectPath=Referral/ReferAFriend">
															Refer a Friend
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 ng-cloak"
							ng-if="!ctrl.isLoading()"
						>
						<a name="billing_and_purchase_history"></a>
						<div class="card card-index card-account">
							<span class="ico-pay hide-print"></span>
							<div class="card-header hide-print">
								<h2 class="h5 card-title">Billing and Purchase History</h2>
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-xs-12 col-md-5">
										<p class="card-text">
											Manage payment options and view transaction history.
										</p>
									</div>
									<br>
									<div class="col-xs-12 col-md-7">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-5">
												<ul class="card-list p-t-0">
													<li class="text-left">
														<a href="../manage-payment-options/manage-payment-options.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.managePaymentOptions}">
															Payment Options
														</a>
													</li>
													<li class="text-left">
														<a href="../recurring-services/recurring-services.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.recurringServices}">
															View Recurring Services
														</a>
													</li>
													<li class="text-left">
														<a href="../transaction-history/transaction-history.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.transactionHistory}">
															View Transaction History
														</a>
													</li>
												</ul>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<ul class="card-list">
													<li class="text-left">
														<a href="../purchased-sessions/purchased-sessions.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.purchasedSessions}">
															View Purchased Sessions
														</a>
													</li>
													<li class="text-left" ng-if="!ctrl.isAuthenticated() || ctrl.isMember()">
														<a href="https://www.lifetimefitness.com/en/mylt/myLT-bucks.html">LT BUCK$</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 ng-cloak"
							ng-if="!ctrl.isLoading()"
						>
						<a name="club_visits"></a>
						<div class="card card-index card-account">
							<span class="ico-club hide-print"></span>
							<div class="card-header hide-print">
								<h2 class="h5 card-title">Club Visits</h2>
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-xs-12 col-md-5">
										<p class="card-text">
											See where you stand in qualifying for monthly reimbursements from your health
											insurance plans and employer. Plans vary, so check with your benefit providers.
										</p>
										<p class="card-text ng-cloak" ng-if="ctrl.isMember()">
											<b>Club Visits this Month:</b> <span
											ng-bind="::ctrl.numClubVisitsThisMonth"></span>
											<br/>
											<b>Guest Passes Remaining:</b> <span
											ng-bind="::ctrl.membership.guestVisitDetail.numberOfGuests"></span>
										</p>
									</div>
									<br>
									<div class="col-xs-12 col-md-7">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-5">
												<ul class="card-list p-t-0">
													<li class="text-left" ng-if="!ctrl.isAuthenticated() || ctrl.isMember()">
														<a href="../view-club-visits/view-club-visits.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.viewClubVisits}">
															Club Visit Details
														</a>
													</li>
													<li class="text-left">
														<a href="../health-insurance-reimbursement/health-insurance-reimbursement.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.healthInsuranceReimbursement}">
															Health Insurance Reimbursement
														</a>
													</li>
												</ul>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<ul class="card-list">
													<li class="text-left">
														<a href="../visitor-passes/visitor-passes.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.guestPassDetails}">
															Guest Pass Details
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 ng-cloak"
							ng-if="!ctrl.isLoading()"
						>
						<a name="preferences"></a>
						<div class="card card-index card-account">
							<span class="ico-preferences hide-print"></span>
							<div class="card-header hide-print">
								<h2 class="h5 card-title">Preferences</h2>
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-xs-12 col-md-5">
										<p class="card-text">Manage communication preferences.</p>
									</div>
									<br>
									<div class="col-xs-12 col-md-7">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-5">
												<ul class="card-list p-t-0">
													<li class="text-left">
														<a href="../manage-communication-preferences/manage-communication-preferences.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.manageCommunicationPreferences}">
															Communication Preferences
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 ng-cloak"
							ng-if="!ctrl.isLoading() &amp;&amp; (!ctrl.isAuthenticated() || ctrl.isMember())"
						>
						<a name="assessments_and_lab_tests"></a>
						<div class="card card-index card-account">
							<span class="ico-lab hide-print"></span>
							<div class="card-header hide-print">
								<h2 class="h5 card-title">Assessments and Lab Tests</h2>
							</div>
							<div class="card-block">
								<div class="row">
										<div class="col-xs-12 col-md-5">
											<p class="card-text">View assessments and lab test results.</p>
										</div>
										<br>
										<div class="col-xs-12 col-md-7">
											<div class="row">
												<div class="col-xs-12">
													<ul class="card-list p-t-0">
														<li class="text-left">
															<a href="../assessment-results/assessment-results.html"
															data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.assessmentResults}">
																Assessment Results
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 ng-cloak"
							ng-if="!ctrl.isLoading()"
						>
						<a name="account_help"></a>
						<div class="card card-index card-account">
							<span class="ico-help hide-print"></span>
							<div class="card-header hide-print">
								<h2 class="h5 card-title">Account Help</h2>
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-xs-12 col-md-5">
										<p class="card-text">
											To upgrade, change or cancel your
											membership, please see a member
											services representative in any Life Time club.
										</p>
									</div>
									<br>
									<div class="col-xs-12 col-md-7">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-5">
												<ul class="card-list p-t-0">
													<li class="text-left">
														<a href="https://qa6-mylt.lifetimefitness.com/faq.html#account"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.global.faq}#account">
															Account FAQs
														</a>
													</li>
												</ul>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<ul class="card-list">
													<li class="text-left">
														<a href="../contact-life-time/contact-life-time.html"
														   data-sly-attribute.href="${ltNamespace.namespace.globalPageDrivers.account.contactLifeTime}">
															Contact Life Time
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</sly>
				</div>
	
				<script type="text/ng-template" id="error-messages">
					<div ng-message="required" class="label-help-error">* required</div>
					<div ng-message="minlength" class="label-help-error">This field is too short</div>
					<div ng-message="maxlength" class="label-help-error">This field is too long</div>
					<div ng-message="pattern" class="label-help-error">Sorry, this field contains unsupported characters</div>
					<div ng-message="notHome" class="label-help-error">You can only have one 'Home' number</div>
					<div ng-message="invalidPhoneNumber" class="label-help-error">Sorry, that seems to be an invalid phone number</div>
					<div ng-message="unique" class="label-help-error">Sorry, another label with the same name already exists</div>
					<div ng-message="dateOfBirth" class="label-help-error">Not a valid (MM/DD/YYYY) birth date</div>
					<div ng-message="email" class="label-help-error">Sorry, that seems to be an invalid email format.</div>
					<div ng-message="password" class="label-help-error">Passwords must be between 8 and 30 characters, contain at least one letter (A-Z) and one number (0-9) and contain no spaces.</div>
					<div ng-message="passwordCharacters" class="label-help-error">Sorry, this field contains unsupported characters</div>
					<div ng-message="passwordUsername" class="label-help-error">Sorry, that seems to be an invalid password format. Passwords can't contain your username</div>
					<div ng-message="parse" class="label-help-error">This field is not in a valid format</div>
				</script>
			</div>
		</div>
	</div>
</main>

<script>
	var dependencies = [
	];

	var jq = 'jquery';
	var mock = 'lt-aem-mock-framework';
	var normalized = System.normalizeSync(jq);
	var scriptEl = document.createElement('script');
	scriptEl.src = normalized.replace('.js', '') + '/jquery.min.js';
	document.head.appendChild(scriptEl);

	dependencies.forEach(function(dep) {
		var normalized = System.normalizeSync(dep);
		var scriptEl = document.createElement('script');
		scriptEl.src = normalized;
		document.head.appendChild(scriptEl);
	});

    Promise.all([System.import('lodash'), System.import('angular'), System.import('moment'), System.import('tether'), System.import('lt-aem-mock-framework')])
        .then(function(deps) {
            window._ = deps[0];
            window.angular = deps[1];
            window.moment = deps[2];
            window.Tether = deps[3]; // needed by Bootstrap 4 alpha-2 JS
			window.LtFramework = deps[4].LtFramework;
			System.import('bootstrap'); // import Bootstrap 4, now that window.Tether is set
			System.import('src/components/account-details/bootstrap');
			System.import('src/mocks/float-labels');
			System.import('src/mocks/fake-sso');
			System.import('src/mocks/fake-navigation');
		});
</script>
</body>
</html>
